<!DOCTYPE html>
<html>
<head>
  <title>Foodie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="container">
    <nav class="navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="<%= root_path %>">The Noms Factory</a>
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= restaurants_path %>">Restaurants</a>
        </li>
        <li>
          <a href="<%= events_path %>">Events</a>
        </li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-sm-12">
        <%= yield %>
      </div>
    </div>
  </section>
</body>
</html>
